.search-results{
    position: relative;
}

.mx header {
    background-color: rgba(31, 31, 31, 0.646);
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5%;
    border-bottom-style: solid;
    border-bottom-color: rgb(43, 42, 42);;
    position: fixed;
}

.searchForm{
   -ms-text-align-last: right;

}

/* .mx-0 {
    margin-left: 0;
    margin-right: 0;

} */


.position-absolute d-inline-block border {
    
}