.search-results{
    position: relative;
}

/* #youtubeIcon{
    text-align: center;
    align-content: center;
} */

#youtubeText{
    font-size: 5em;
}

.mx header {
    background-color: rgba(31, 31, 31, 0.646);
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5%;
    border-bottom-style: solid;
    border-bottom-color: rgb(43, 42, 42);;
    position: fixed;
}

.searchForm{
   -ms-text-align-last: right;

}

/* .mx-0 {
    margin-left: 0;
    margin-right: 0;

} */


.bi bi-play-btn{
    color:red;
}